# Building a Predictive Model

# Import the Necessary Python Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.datasets import make_blobs
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split


#Reading the Dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/DataScience/donor_data.csv'
df = pd.read_csv(path)
df.head(5)

,TARGET_B,TARGET_D,CONTROL_NUMBER,MONTHS_SINCE_ORIGIN,DONOR_AGE,IN_HOUSE,URBANICITY,SES,CLUSTER_CODE,HOME_OWNER,...,LIFETIME_GIFT_RANGE,LIFETIME_MAX_GIFT_AMT,LIFETIME_MIN_GIFT_AMT,LAST_GIFT_AMT,CARD_PROM_12,NUMBER_PROM_12,MONTHS_SINCE_LAST_GIFT,MONTHS_SINCE_FIRST_GIFT,FILE_AVG_GIFT,FILE_CARD_GIFT
0,0,NaN,5,101,87.0,0,?,?,.,H,...,15.0,20.0,5.0,15.0,5,12,26,92,8.49,7
1,1,10.0,12,137,79.0,0,R,2,45,H,...,20.0,25.0,5.0,17.0,7,21,7,122,14.72,12
2,0,NaN,37,113,75.0,0,S,1,11,H,...,23.0,28.0,5.0,19.0,11,32,6,105,16.75,16
3,0,NaN,38,92,NaN,0,U,2,04,H,...,14.0,17.0,3.0,15.0,11,33,6,92,11.76,12
4,0,NaN,41,101,74.0,0,R,2,49,U,...,20.0,25.0,5.0,25.0,6,19,18,92,8.83,3

In [ ]:
df.isnull() #Check all null values in the dataset

,TARGET_B,TARGET_D,CONTROL_NUMBER,MONTHS_SINCE_ORIGIN,DONOR_AGE,IN_HOUSE,URBANICITY,SES,CLUSTER_CODE,HOME_OWNER,...,LIFETIME_GIFT_RANGE,LIFETIME_MAX_GIFT_AMT,LIFETIME_MIN_GIFT_AMT,LAST_GIFT_AMT,CARD_PROM_12,NUMBER_PROM_12,MONTHS_SINCE_LAST_GIFT,MONTHS_SINCE_FIRST_GIFT,FILE_AVG_GIFT,FILE_CARD_GIFT
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19367,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19368,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19369,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19370,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19371,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

****

In [ ]:
df.isnull().sum() #Explore how many null values for each column

TARGET_B                           0
TARGET_D                       14529
CONTROL_NUMBER                     0
MONTHS_SINCE_ORIGIN                0
DONOR_AGE                       4795
IN_HOUSE                           0
URBANICITY                         0
SES                                0
CLUSTER_CODE                       0
HOME_OWNER                         0
DONOR_GENDER                       0
INCOME_GROUP                    4392
PUBLISHED_PHONE                    0
OVERLAY_SOURCE                     0
MOR_HIT_RATE                       0
WEALTH_RATING                   8810
MEDIAN_HOME_VALUE                  0
MEDIAN_HOUSEHOLD_INCOME            0
PCT_OWNER_OCCUPIED                 0
PER_CAPITA_INCOME                  0
PCT_ATTRIBUTE1                     0
PCT_ATTRIBUTE2                     0
PCT_ATTRIBUTE3                     0
PCT_ATTRIBUTE4                     0
PEP_STAR                           0
RECENT_STAR_STATUS                 0
RECENCY_STATUS_96NK                0
FREQUENCY_STATUS_97NK              0
RECENT_RESPONSE_PROP               0
RECENT_AVG_GIFT_AMT                0
RECENT_CARD_RESPONSE_PROP          0
RECENT_AVG_CARD_GIFT_AMT           0
RECENT_RESPONSE_COUNT              0
RECENT_CARD_RESPONSE_COUNT         0
MONTHS_SINCE_LAST_PROM_RESP      246
LIFETIME_CARD_PROM                 0
LIFETIME_PROM                      0
LIFETIME_GIFT_AMOUNT               0
LIFETIME_GIFT_COUNT                0
LIFETIME_AVG_GIFT_AMT              0
LIFETIME_GIFT_RANGE                0
LIFETIME_MAX_GIFT_AMT              0
LIFETIME_MIN_GIFT_AMT              0
LAST_GIFT_AMT                      0
CARD_PROM_12                       0
NUMBER_PROM_12                     0
MONTHS_SINCE_LAST_GIFT             0
MONTHS_SINCE_FIRST_GIFT            0
FILE_AVG_GIFT                      0
FILE_CARD_GIFT                     0
dtype: int64

#Solution - 2 Remove rows with empty values

In [ ]:
 Dataset_Modified = df.fillna(0)

In [ ]:
 Dataset_Modified.isnull().sum() #Verify no longer have any null value

TARGET_B                       0
TARGET_D                       0
CONTROL_NUMBER                 0
MONTHS_SINCE_ORIGIN            0
DONOR_AGE                      0
IN_HOUSE                       0
URBANICITY                     0
SES                            0
CLUSTER_CODE                   0
HOME_OWNER                     0
DONOR_GENDER                   0
INCOME_GROUP                   0
PUBLISHED_PHONE                0
OVERLAY_SOURCE                 0
MOR_HIT_RATE                   0
WEALTH_RATING                  0
MEDIAN_HOME_VALUE              0
MEDIAN_HOUSEHOLD_INCOME        0
PCT_OWNER_OCCUPIED             0
PER_CAPITA_INCOME              0
PCT_ATTRIBUTE1                 0
PCT_ATTRIBUTE2                 0
PCT_ATTRIBUTE3                 0
PCT_ATTRIBUTE4                 0
PEP_STAR                       0
RECENT_STAR_STATUS             0
RECENCY_STATUS_96NK            0
FREQUENCY_STATUS_97NK          0
RECENT_RESPONSE_PROP           0
RECENT_AVG_GIFT_AMT            0
RECENT_CARD_RESPONSE_PROP      0
RECENT_AVG_CARD_GIFT_AMT       0
RECENT_RESPONSE_COUNT          0
RECENT_CARD_RESPONSE_COUNT     0
MONTHS_SINCE_LAST_PROM_RESP    0
LIFETIME_CARD_PROM             0
LIFETIME_PROM                  0
LIFETIME_GIFT_AMOUNT           0
LIFETIME_GIFT_COUNT            0
LIFETIME_AVG_GIFT_AMT          0
LIFETIME_GIFT_RANGE            0
LIFETIME_MAX_GIFT_AMT          0
LIFETIME_MIN_GIFT_AMT          0
LAST_GIFT_AMT                  0
CARD_PROM_12                   0
NUMBER_PROM_12                 0
MONTHS_SINCE_LAST_GIFT         0
MONTHS_SINCE_FIRST_GIFT        0
FILE_AVG_GIFT                  0
FILE_CARD_GIFT                 0
dtype: int64

#Exploring Dataset

In [ ]:
 Dataset_Modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19372 entries, 0 to 19371
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   TARGET_B                     19372 non-null  int64
 1   TARGET_D                     19372 non-null  float64
 2   CONTROL_NUMBER               19372 non-null  int64
 3   MONTHS_SINCE_ORIGIN          19372 non-null  int64
 4   DONOR_AGE                    19372 non-null  float64
 5   IN_HOUSE                     19372 non-null  int64
 6   URBANICITY                   19372 non-null  object
 7   SES                          19372 non-null  object
 8   CLUSTER_CODE                 19372 non-null  object
 9   HOME_OWNER                   19372 non-null  object
 10  DONOR_GENDER                 19372 non-null  object
 11  INCOME_GROUP                 19372 non-null  float64
 12  PUBLISHED_PHONE              19372 non-null  int64
 13  OVERLAY_SOURCE               19372 non-null  object
 14  MOR_HIT_RATE                 19372 non-null  int64
 15  WEALTH_RATING                19372 non-null  float64
 16  MEDIAN_HOME_VALUE            19372 non-null  int64
 17  MEDIAN_HOUSEHOLD_INCOME      19372 non-null  int64
 18  PCT_OWNER_OCCUPIED           19372 non-null  int64
 19  PER_CAPITA_INCOME            19372 non-null  int64
 20  PCT_ATTRIBUTE1               19372 non-null  int64
 21  PCT_ATTRIBUTE2               19372 non-null  int64
 22  PCT_ATTRIBUTE3               19372 non-null  int64
 23  PCT_ATTRIBUTE4               19372 non-null  int64
 24  PEP_STAR                     19372 non-null  int64
 25  RECENT_STAR_STATUS           19372 non-null  int64
 26  RECENCY_STATUS_96NK          19372 non-null  object
 27  FREQUENCY_STATUS_97NK        19372 non-null  int64
 28  RECENT_RESPONSE_PROP         19372 non-null  float64
 29  RECENT_AVG_GIFT_AMT          19372 non-null  float64
 30  RECENT_CARD_RESPONSE_PROP    19372 non-null  float64
 31  RECENT_AVG_CARD_GIFT_AMT     19372 non-null  float64
 32  RECENT_RESPONSE_COUNT        19372 non-null  int64
 33  RECENT_CARD_RESPONSE_COUNT   19372 non-null  int64
 34  MONTHS_SINCE_LAST_PROM_RESP  19372 non-null  float64
 35  LIFETIME_CARD_PROM           19372 non-null  int64
 36  LIFETIME_PROM                19372 non-null  int64
 37  LIFETIME_GIFT_AMOUNT         19372 non-null  float64
 38  LIFETIME_GIFT_COUNT          19372 non-null  int64
 39  LIFETIME_AVG_GIFT_AMT        19372 non-null  float64
 40  LIFETIME_GIFT_RANGE          19372 non-null  float64
 41  LIFETIME_MAX_GIFT_AMT        19372 non-null  float64
 42  LIFETIME_MIN_GIFT_AMT        19372 non-null  float64
 43  LAST_GIFT_AMT                19372 non-null  float64
 44  CARD_PROM_12                 19372 non-null  int64
 45  NUMBER_PROM_12               19372 non-null  int64
 46  MONTHS_SINCE_LAST_GIFT       19372 non-null  int64
 47  MONTHS_SINCE_FIRST_GIFT      19372 non-null  int64
 48  FILE_AVG_GIFT                19372 non-null  float64
 49  FILE_CARD_GIFT               19372 non-null  int64
dtypes: float64(16), int64(27), object(7)
memory usage: 7.4+ MB

****

In [ ]:
 Dataset_Modified.shape #The shape function displays the number of records and columns:

(19372, 50)

In [ ]:
 Dataset_Modified.describe()#The describe() function summarizes the dataset’s statistical properties, such as count, mean, min, and max:

,TARGET_B,TARGET_D,CONTROL_NUMBER,MONTHS_SINCE_ORIGIN,DONOR_AGE,IN_HOUSE,INCOME_GROUP,PUBLISHED_PHONE,MOR_HIT_RATE,WEALTH_RATING,...,LIFETIME_GIFT_RANGE,LIFETIME_MAX_GIFT_AMT,LIFETIME_MIN_GIFT_AMT,LAST_GIFT_AMT,CARD_PROM_12,NUMBER_PROM_12,MONTHS_SINCE_LAST_GIFT,MONTHS_SINCE_FIRST_GIFT,FILE_AVG_GIFT,FILE_CARD_GIFT
count,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000,...,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000,19372.000000
mean,0.250000,3.906086,96546.225377,73.409973,44.335278,0.073198,3.021629,0.497729,3.361656,2.729042,...,11.587876,19.208808,7.620932,16.584199,5.367128,12.901869,18.191152,69.482088,12.858338,5.273591
std,0.433024,9.191804,55830.643871,41.255574,29.252268,0.260469,2.316476,0.500008,9.503481,3.245617,...,15.116893,16.101128,7.959786,11.977558,1.264205,4.642072,4.033065,37.568169,8.787758,4.607063
min,0.000000,0.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,5.000000,0.000000,0.000000,0.000000,2.000000,4.000000,15.000000,1.360000,0.000000
25%,0.000000,0.000000,48289.000000,29.000000,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,5.000000,12.000000,3.000000,10.000000,5.000000,11.000000,16.000000,33.000000,8.000000,2.000000
50%,0.000000,0.000000,96937.000000,65.000000,51.000000,0.000000,3.000000,0.000000,0.000000,1.000000,...,10.000000,16.000000,5.000000,15.000000,6.000000,12.000000,18.000000,65.000000,11.200000,4.000000
75%,0.250000,0.250000,145429.500000,113.000000,69.000000,0.000000,5.000000,1.000000,3.000000,6.000000,...,15.000000,21.000000,10.000000,20.000000,6.000000,13.000000,20.000000,105.000000,15.000000,8.000000
max,1.000000,200.000000,191779.000000,137.000000,87.000000,1.000000,7.000000,1.000000,241.000000,9.000000,...,997.000000,1000.000000,450.000000,450.000000,17.000000,64.000000,27.000000,260.000000,450.000000,41.000000

#Feature Selection

In this step, we choose several features that contribute most to the target output. So, instead of training the model using every column in our dataset, we select only those that have the strongest relationship with the predicted variable.

In [ ]:
from sklearn.feature_selection import SelectKBest #Start by importing the SelectKBest library:
from sklearn.feature_selection import chi2

After, define X & Y:

In [ ]:
X= Dataset_Modified.iloc[:,2:49]  # all features
Y= Dataset_Modified.iloc[:,1]   #target output (target_B)

Select the top 4 features:

In [ ]:
X=  Dataset_Modified[['DONOR_AGE','INCOME_GROUP','LIFETIME_GIFT_COUNT','WEALTH_RATING']]  #the top 4 features
Y=  Dataset_Modified[['TARGET_B']]  #the target output

Second, split the dataset into train and test:

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state = 0)

**Step 4: KNN Classifier Implementation**

After that, I’ll build a kNN classifier object. I develop classifier with k values of 5 to demonstrate the relevance of the k value. The models are then trained using a train set. The k value is chosen using the n_neighbors argument.

In [ ]:
knn5 = KNeighborsClassifier(n_neighbors = 5)

**Step 5: Predictions for the KNN Classifiers**

Then, in the test set, we forecast the target values and compare them to the actual values.

In [ ]:
knn5.fit(X_train, y_train)
y_pred_5 = knn5.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

**Step 6:Evaluate the Model’s Performance**

As a final step, we’ll evaluate how well our Python model performed predictive analytics by running a classification report and a ROC curve.

In [ ]:
from sklearn import metrics
from sklearn.metrics import classification_report
print("Accuracy :",metrics.accuracy_score(y_test, y_pred_5))
print("Recall   :",metrics.recall_score(y_test, y_pred_5, zero_division=1))
print("Precision:",metrics.precision_score(y_test, y_pred_5, zero_division=1))
print("CL Report:",metrics.classification_report(y_test, y_pred_5, zero_division=1))

Accuracy : 0.6977080322114392
Recall   : 0.11451612903225807
Precision: 0.2795275590551181
CL Report:               precision    recall  f1-score   support

           0       0.75      0.90      0.82      3603
           1       0.28      0.11      0.16      1240

    accuracy                           0.70      4843
   macro avg       0.51      0.51      0.49      4843
weighted avg       0.63      0.70      0.65      4843